*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(217, 65, 255);
    padding:20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1;
}
.nav-links{
    position: relative;
}
.nav-links a{
    text-decoration: none;
    padding:0 15px;
    cursor: pointer;
    transition: 0.2s;
}
.nav-links a.active{
    color:white
}
.nav-links a:hover{
    color:blue;
    text-decoration: underline;
}
.logo{
    position: relative;
    font-size: 24px;
    font-weight: bold;
    font-family: monospace;
    text-decoration: none;
    cursor: pointer;
    transition: .2s;
}
.logo:hover{
    color:blue;
    text-shadow: 0 0 20px rgb(89, 238, 249),0 0 45px blue;
    scale: 1.2;
}
span{
    color:blue
}
.btncontact{
    background-color: rgb(252, 252, 252);
    padding:6px 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px rgb(89, 238, 249);
}

.bevcontainer{
    display: flex;
    background-image: url(https://media.istockphoto.com/id/1395723007/vector/pink-orange-yellow-and-red-color-gradient-summer-defocused-blurred-motion-abstract.jpg?s=612x612&w=0&k=20&c=qf1HnidyUgJiMLa4bHHomssiu7jdNEL7j-ezmiFrGb8=);
    justify-content: start;
    min-height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: auto;
}
.bevcontainer::-webkit-scrollbar
{
    display: none;
}
.bev{
    display: flex;
    align-items: start;
    justify-content: start;
    width:100%;
    height:100vh;
    margin: 0 15%;
    padding:5% 50px;
    flex-wrap: wrap;
    gap:2em;
}

.b1{
    display:block;
    width: 250px;
    height: 250px;
    top:60px;
    left:90px;
    flex-direction: column;
    position: relative;
}
.b1 a img{
    height: 100%;
    width: 100%;
    border-radius: 10%;
    box-shadow:0 0 10px red;
    cursor: pointer;
    transition: 0.2s;
}
.b1 a img:hover{
    scale:0.9;
}
.b1 h3{
    margin-top: 10px;
    text-align: center;
}
.b2{
    display: block;
    position: relative;
    top:60px;
    left:90px;
    flex-direction: column;
    width: 250px;
    height:250px;
}
.b2 a img{
    height: 100%;
    width:100%;
    border-radius: 10%;
    box-shadow: 0 0 10px red;
    cursor: pointer;
    transition: 0.2s;
}
.b2 a img:hover{
  scale:0.9;
}
.b2 h3{
    margin-top: 10px;
    text-align: center;
}
.b3{
    display: block;
    position: relative;
    top:60px;
    left: 90px;
    flex-direction: column;
    width: 250px;
    height:250px;
}
.b3 a img{
    width: 100%;
    height: 100%;
    border-radius: 10%;
    box-shadow: 0 0 10px red;
    cursor: pointer;
    transition: 0.2s;
}
.b3 a img:hover{
    scale:0.9;
}
.b3 h3{
    margin-top: 10px;
    text-align: center;
}
.foot{
    color:white;
    background-color:#161617 ;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding:0 20px;
}
.tow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;
}
.tow a{
    color: white;
    text-decoration: none;
    padding:5px 5px;
}
hr{
    opacity: 0.5;
}